/* RESPONSIVE TELEPHONE */

@media (max-width: 480px){
	body{
		width: 480px;
		padding: 0;
		margin: 0;
	}

	header{
		height: 133px;
		margin: 0;
	}
	header img{
		margin: 14px 0 0 28px;
	}

	ul{
		display: flex;
	}

	.list a{
		padding: 0px 65px 16px 65px
	}

	.list1 a{
		padding: 0px 90px 16px 65px;
		margin-right: 0;
	}

	.list{
		position: relative;
		top: 65px;
		right: 321px;
	}

	.list a:active{
		border-bottom:2px solid #0065fc;
		color: #0065fc;
	}

	list a:visited{
		border-bottom:2px solid #0065fc;
		color: #0065fc;
	}

	.list2{
		order: -1;
		position: relative;
		bottom: 6px;
		left: 155px;
	}

	/* RECHERCHE */
	#recherche{
		margin-left: 32px;
	}

	#recherche h1{
		margin-right: 74px;
	}

	.btn p{
		display: none;
	}

	button{
		border-radius: 14px;
		padding: 14px;
	}

	div p{
		margin-top: 12px;
	}

	.filtre{
		display: block;
	}

	.filtre p{
		margin: 34px 0 10px 0;
	}

	.button2{
		margin-bottom: 19px;
	}

	.button2 p{
		margin: 0;
		transition:all 1s;
	}

	.circle1{
    	width: 162px;
    	float: left;
		margin-right: 16px;
	}

	.infos{
		margin-right: 62px;
	}

	.info p{
		position: relative;
		top: 11px;
		font-size: 17px;
	}
	/* HEBERGEMENT */
	#hebergements{
		flex-direction: column-reverse;
		margin-bottom: 45px;
	}

	.part{
		width: auto;
		border-radius: initial;
		background-color: #fff;
	}

	.part .container{
		flex-direction: column;
		margin: 26px 36px;
	}

	.container a{
		margin-bottom: 17px;
		border-radius: 24px;
		border: 6px solid #fff;
		box-shadow: 8px 8px 10px #aaa;
	}

	.part span{
		font-size: 18px;
	}

	.part figure{
		margin: 0;
		height: auto;
		border: 0;
	}

	.part a img{
		width: 100%;
		height: 135px;
	}

	.image1 ,.image2 ,.image3 ,.image4 ,.image5 ,.image6{
		width: auto;
	}

	.part figcaption{
		font-size: 15px;
		padding-bottom: 10px;
	}

	.part figcaption h3{
		font-size: 16px;
	}

	.part2{
		width: auto;
		height: auto;
		padding-top: 1px;
		border-radius: initial;
		margin: 0;
	}

	.part2 figure{
		height: auto;
	}

	.part2 img{
		width: 173px;
		height: 179px;
	}

	.part2 figcaption{
		font-size: 18px;
		height: 172px;
		width: 216px;
		padding: 7px 0px 0px 192px;
	}

	.legend p {
    	margin-bottom: 68px;
    }

	.part2 .etoile {
    	font-size: 16px;
	}

	

	/* ACTIVITE */
	#activite{
		height: auto;
		padding: 0;
		margin-left: 36px;
	}

	#activite a{
		margin: 0;
		margin-bottom: 40px;
	}

	#activite .vieux{
		float: none;
		margin: 0;
		margin-bottom: 40px;
		width: 92%;
	}

	.vieux img{
		width: 100%;
		height: 150px;
	}

	.vieux figcaption{
		font-size: 15px;
		display: flex;
		justify-content: flex-start;
	}

	.column{
		float: none;
		margin: 0;
	}

	.column a{
		width: 92%;
	}

	.img1{
		margin: 0;
	}

	.img1 img{
		width: 100%;
		height: 150px;
	}

	.img1 figcaption{
		display: flex;
		justify-content: flex-start;
	}

	.img2 figcaption{
		display: flex;
		justify-content: flex-start;
	}

	.img2 img{
		width: 100%;
		height: 150px;
	}

	.column2 a{
		width: 92%;
	}

	.img3{
		margin: 0;
	}

	.img3 figcaption{
		display: flex;
		justify-content: flex-start;
	}

	.img3 img{
		width: 100%;
		height: 150px;
	}

	.img4 figcaption{
		display: flex;
		justify-content: flex-start;
	}

	.img4 img{
		width: 100%;
		height: 150px;
	}
	
	/* FOOTER */
	footer{
		display: block;
	}

	footer div{
		position: static;
		padding: 0px 12px 1px 33px;
	}

	footer h3{
		margin-top: 0;
		padding-top: 28px;
	}

	footer p{
		margin: 10px 0;
	}


}