/* RESPONSIVE TELEPHONE */

@media (max-width: 480px){
	body{
		width: 480px;
		background: #565b56;
		padding: 0;
		margin: 0;
	}

	header{
		height: 258px;
		margin: 0;
	}
	header img{
		float: none;
		margin-top: 14px;
	}

	.list{
		position: relative;
		right: 54px;
	}

	.list a:hover{
		border:none;
		color: none;
	}

	.list a:active{
		border-bottom: 2px solid #0065fc;
	}

	.bleu{
		position: relative;
		bottom: 70px;
		left: 271px;
	}
	/* RECHERCHE */
	#recherche{
		margin-left: 32px;
	}

	#recherche h1{
		
	}

	div p{
		margin-top: 12px;
	}

	.filtre{
		display: block;
	}

	.filtre p{
		margin: 34px 0 10px 0;
	}

	.button2{
		margin-bottom: 19px;
	}

	.button2 p{
		margin: 0;
	}

	.circle1{
    	width: 162px;
    	float: left;
		margin-right: 16px;
	}

	.info p{
		position: relative;
		top: 11px;
		font-size: 17px;
	}
	/* HEBERGEMENT */
	#hebergements{
		flex-direction: column-reverse;
	}

	.part{
		width: auto;
		border-radius: initial;
		background-color: #fff;
	}

	.part .container{
		flex-direction: column;
		margin: 26px;
	}

	.part figure{
		margin: 0;
		height: auto;
	}

	.part a img{
		width: 100%;
		height: 135px;
	}

	.image1 ,.image2 ,.image3 ,.image4 ,.image5 ,.image6{
		width: auto;
	}

	.part figcaption{

	}

	.part2{
		width: auto;
		height: auto;
		padding-top: 1px;
		border-radius: initial;
		margin: 0;
	}

	.part2 figure{
		height: auto;
	}

	.part2 img{
		width: 173px;
		height: 179px;
	}

	.part2 figcaption{
		font-size: 18px;
		height: 172px;
		width: 216px;
		padding: 7px 0px 0px 192px;
	}

	

	/* ACTIVITE */
	#activite{
		height: auto;
		padding: 0;
		width: auto;
	}

	.vieux{
		float: initial;
		margin: 0;
	}

	.vieux img{
		width: 440px;
		height: 150px;
	}

	.vieux figcaption{
		font-size: 15px;
		display: flex;
		justify-content: flex-start;
	}

	.column{
		float: initial;
		margin: 0;
	}

	.img1 img{
		width: 440px;
		height: 150px;
	}

	.img2 img{
		width: 440px;
		height: 150px;
	}

	.img3 img{
		width: 440px;
		height: 150px;
	}

	.img4 img{
		width: 440px;
		height: 150px;
	}
	
	/* FOOTER */
	footer{
		display: block;
	}

	footer div{
		position: initial;
		padding: 0px 12px 1px 33px;
	}

	footer p{
		margin: 10px 0;
	}


}