/* GENERAL */
@media (min-width: 1025px){
	header nav ul li a:hover {
   		border-top: 3px solid #0065fc;
   		color: #0065fc;
	}

	.button2 p:hover{
		background: #0065fc;
		color: #fff;
		transition: all 1s ease-in;
	}

	.btn i{
		display: none;
	}
}
body { 
	font-family: 'Raleway', sans-serif;
	width: 1135px;
    margin: 0 auto;
}

li { list-style: none; }

a {
   text-decoration: none;
   color: black;
}

/* MENU */
header { 
	height: 61px;
	margin-bottom: 18px;
}

header img {
  	float: left;
  	margin-right: 503px;
	margin-top: 23px;
	width: 97px;
}

header nav ul li { 
	float: left;
	margin-top: 37px;
}

header nav ul li a {
 margin-right: 20px;
 padding: 49px 31px 0 35px;
}

.bleu {
	font-weight: bold;
	color: #0065fc;
}

header nav ul li i {
   font-weight: bold;
   color: #0065fc;
}

/* RECHERCHE */
#recherche h1{
	margin-bottom: 0;
}

div p{
	margin-top: 4px;
}

.noir {
   background-color: #f2f2f2;
   padding: 11px 11px;
   border-radius: 14px 0px 0px 14px;
}
.localisation{
	display: flex;
	align-items: center;
}

.localisation input{
	padding: 11px 0px 11px 4px;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	border-style: solid hidden solid hidden;
	margin: 0;
}

button{
	background-color: #0065fc;
	color: #fff;
	border-radius: 0px 14px 14px 0px;
	padding: 11px 11px;
	border: 1px solid;
	font-weight: bold;
	margin: 0;
}

button span{
	margin: 0;
}

.filtre{
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.filtre p{
	font-weight: bold;
	margin-right: 17px;
	margin-top: 16px;
}

.filtre i{
	border-radius: 50%;
	margin: -2px 14px -2px 0px;
	font-size: 15px;
	color: #0065fc;
	background-color: #deebff;
}

.button2{
	display: flex;
}

.circle1 i{
	padding: 11px 10px;
}

.circle2 i{
	padding: 11px 13px;
}

.circle3 i{
	padding: 12px 12px;
}

.circle4 i{
	padding: 12px 13px;
}

.button2 p{
	border: 2px solid #f2f2f2;
	padding: 0px 10px 0px 0px;
	border-radius: 208px 200px 200px 208px;
	display: flex;
	align-items: center;
	border-style: solid solid solid hidden;
}

.info{
	display: flex;
	align-items: center;
	margin-bottom: 36px;
}

.info i{
	padding: 3px 7px;
	color: #0065fc;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	font-size: 12px;
	margin-right: 12px;
}

.info p{
	margin-top: 0;
	margin-bottom: 2px;
}

/* HEBERGEMENT */
#hebergements{
	display: flex;
	margin-bottom: 46px;
}

.etoile{
	color: #0065fc;
}

.etoile .gris{
	color: rgb(217,217,217);
}

#hebergements h2{
	margin-left: 32px;
}

.part span{
	font-weight: bold;
	margin-left: 32px;
	font-size: 18px;
}

.part{
   background-color: #f2f2f2;
   border-radius: 27px;
   width: 713px;
}

.part .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 22px 0 29px;
}

.part figure{
	margin: 0 9px 30px 0;
	border: 6px solid #fff;
	border-radius: 24px;
	height: 156px;
	background: #fff;
}

.part img{
	border-radius: 17px 16px 0 0;
	width: 200px;
	height: 100px;
	object-fit: cover;
}

.part figcaption{
	background: #fff;
	border-radius: 0 0 17px 17px;
	padding: 0px 0px 0px 11px;
	font-size: 12px;
}
.part figcaption p{
	margin: 2px 0px;
}

.part figcaption h3{
	font-size: 14px;
	margin: 0;
}

.image1{
	width: 200px;
}

.image2{
	width: 200px;
}

.image3{
	width: 200px;
}

.image4{
	width: 200px;
	height: 275px;
}

.image5{
	width: 200px;
}

.image6{
	width: 200px;
}

/* POPULAIRES */
#populaires{
	background-color: #f2f2f2;
	border-radius: 27px;
	margin-left: 40px;
}

#populaires h2 i{
	padding-left: 47px;
}

#populaires h3 {
	margin: 1px;
}

.part2 { 
	width: 360px;
	padding-top: 1px;
}

.part2 .container{
	display: flex;
	flex-direction: column;
}

.part2 h3 i { 
	padding: 23px 0px 2px 36px;
}

.part2 figure{
	margin: 6px 30px 14px 30px;
	border: 6px solid #fff;
	border-radius: 24px;
}

.part2 figcaption{
	font-size: 12px;
	background: #fff;
	border-radius: 0 18px 18px 0;
	height: 117px;
	width: 160px;
	padding: 7px 0px 0px 128px;
}

.part2 img{
	float: left;
	border-radius: 17px 0 0 17px;
	width: 116px;
	height: 124px;
	object-fit: cover;
}

.legend p{
	margin-bottom: 46px;
	margin-top: 0;
}

.part2 .etoile{
	font-size: 10px;
}



/* ACTIVITES */

#activite{
	height: 528px;
}

.vieux{
	float: left;
	margin: 0;
	margin-right: 30px;
	border-radius: 15px;
	box-shadow: 8px 8px 10px #aaa;
	background: #fff;
}

.vieux img{
	width: 262px;
	height: 361px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0;
}

.vieux figcaption{
	border-radius: 0 0 15px 15px;
	font-size: 13px;
	padding-left: 17px;
	background: #fff;
}

.column{
	float: left;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.column figcaption{
	padding-left: 17px;
	padding-bottom: 1px;
	font-size: 13px;
}

.img1{
	margin: 0;
	margin-bottom: 40px;
	border-radius: 24px;
	box-shadow: 8px 8px 10px #aaa;
	background: #fff;
}

.img1 img{
	width: 254px;
	height: 175px;
	object-fit: cover;
	border-radius: 22px 22px 0 0;

}

.img2{
	margin: 0;
	border-radius: 24px;
	box-shadow: 8px 8px 10px #aaa;
	background: #fff;
}

.img2 img{
	width: 254px;
	height: 91px;
	object-fit: cover;
	border-radius: 22px 22px 0 0;
}

.column2{
	display: flex;
	flex-direction: column;
}

.column2 figcaption{
	font-size: 13px;
	padding-left: 17px;
}

.img3{
	margin: 0;
	margin-bottom: 36px;
	border-radius: 24px;
	overflow: hidden;
	box-shadow: 8px 8px 10px #aaa;
	background: #fff;
}

.img3 img{
	width: 267px;
	height: 128px;
	object-fit: cover;
	border-radius: 22px 22px 0 0;
}

.img4{
	margin: 0;
	border-radius: 24px;
	box-shadow: 8px 8px 10px #aaa;
	background: #fff;
	overflow: hidden;
}

.img4 img{
	width: 267px;
	height: 144px;
	object-fit: cover;
	border-radius: 22px 22px 0 0;
}

/* FOOTER */
footer {
   background-color: #f2f2f2;
   display: flex;
   justify-content: space-around;
}

footer h3{
	font-size: 16px;
}

footer p{
	font-size: 14px;
}

footer div{
	position: relative;
	right: 70px;
}

