/*GENERAL*/
body{
	font-family: 'Raleway', sans-serif;
}

li{
	list-style: none;
}

a{
    text-decoration: none;
}

/*MENU*/
header{
    height: 120px;
}

header img{
    float: left;
    margin-top: 54px; 
}

header nav{
    float: right;
    margin-top: 50px;
}

header nav ul li{
    float:left; 
    display: inline-block;   
}

header nav ul li a{
    font-weight:  bold;
    margin-right: 20px;
    padding: 69px 31px 0 35px;
}
header nav ul li a:hover{
	border-top: 3px solid #0065FC;
	color: #0065FC;
}

header nav ul li i{
	font-weight: bold;
	color: #0065FC;
}

/*RECHERCHE*/
#recherche i{
	background-color: #DEEBFF;
	color:#0065FC;
}



/*HEBERGEMENT*/
#hebergements article{
	background-repeat: no-repeat;
}
.part1{
	background-color: #F2F2F2;
	float: left;
}

.part2{
	background-color: #F2F2F2;
}

.part1 .container{
	display: flex;
	justify-content: space-between;

}

.part2 .container{
	display: flex;
	
}
#populaires article{
	background-repeat: no-repeat;
}

/*ACTIVITES*/
#activite div{
	background-repeat: no-repeat;
}
#activite div article{
	background-repeat: no-repeat;
}


/*FOOTER*/
footer{
	background-color: #F2F2F2;
}
