/* GENERAL */
body { 
	font-family: 'Raleway', sans-serif;
	width: 1050px;
    margin: 0 auto;
    padding: 0 10px;
}

li { list-style: none; }

a {
   text-decoration: none;
   color: black;
}
.gris{
	color: #f2f2f2;
}
/* MENU */
header { height: 120px; }

header img {
  float: left;
  margin-top: 54px;
}

header nav {
  float: right;
  margin-top: 50px;
}

header nav ul li { 
	float: left; 
	display: inline-block; 
}

header nav ul li a {
 margin-right: 20px;
 padding: 63px 31px 0 35px;
}

header nav ul li a:hover {
   border-top: 3px solid #0065fc;
   color: #0065fc;
}

.bleu {
	font-weight: bold;
	color: #0065fc;
}

header nav ul li i {
   font-weight: bold;
   color: #0065fc;
}

/* RECHERCHE */
.noir {
   background-color: #f2f2f2;
   padding: 14px;
   border-radius: 14px 0px 0px 14px;
}
.localisation{
	display: flex;
	align-items: center;
}

.localisation input{
	padding: 12px 0px 12px 4px;
	border-block: 1px solid #f2f2f2;
	font-weight: bold;
	font-size: 14px;
	border-style: solid hidden solid hidden;
}

button{
	background-color: #0065fc;
	color: #fff;
	border-radius: 0px 14px 14px 0px;
	padding: 14px;
	border: none;
}

.filtre{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.filtre p{
	font-weight: bold;
	margin-right: 17px;
}

.filtre i{
	border-radius: 50%;
	margin: -2px 14px -2px 0px;
	font-size: 15px;
	color: #0065fc;
	background-color: #deebff;
}

.button2{
	display: flex;
}

.circle1 i{
	padding: 11px 10px;
}

.circle2 i{
	padding: 11px 13px;
}

.circle3 i{
	padding: 12px 12px;
}

.circle4 i{
	padding: 12px 13px;
}

.button2 p{
	border: 2px solid #f2f2f2;
	padding: 0px 10px 0px 0px;
	border-radius: 208px 200px 200px 208px;
	display: flex;
	align-items: center;
	border-style: solid solid solid hidden;
	transition:all 2s;
}

.button2 p:hover{
	background: #0065fc;
	color: #fff;
}
.info{
	display: flex;
	align-items: center;
}

.info i{
	padding: 3px 7px;
	color: #0065fc;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	font-size: 12px;
	margin-right: 12px;

}

/* HEBERGEMENT */
#hebergements{
	display: flex;
}
#hebergements h2{
	margin-left: 25px;
}
.part span{
	font-weight: bold;
	margin-left: 25px;
}
.part{
   background-color: #f2f2f2;
   width: 62%;
   height: 548px;
}

.part .container {
   display: flex;
   justify-content: space-around;
   flex-flow: row wrap;
}

.part figure{
	margin: 0px 15px 19px 9px;
}

.part img{
	width: 150px;
	height: 86px;
}

.part figcaption{
	background: #fff;
}
.part figcaption h3{
	font-size: 14px;
	margin: 0;
}

/* POPULAIRES */
#populaires h3 {
	margin: 0 0 0 27px;
}

.part2 h3 i { 
	padding: 23px 0px 2px 36px;
}

.part2 figure{
}

.part2 img{
	height: 100px;
	float: left;

}
.part2 figcaption{
	font-size: 10px;
	background: #fff;
}

.part2 .container{
	display: flex;
	flex-direction: column;
	width: 372px;
}

.part2 { 
	background-color: #f2f2f2;
	height: 548px;
	margin-left: 26px;
}

/* ACTIVITES */
#activite figure img {
	width: 150px;
	height: 86px;
}

#activite div article { }

/* FOOTER */
footer {
   background-color: #f2f2f2;
   display: flex;
   justify-content: space-around;
}

footer h3{
	font-size: 16px;
}
footer p{
	font-size: 14px;
}

footer div{
	margin-left: 39px;
}