@media screen and (min-width: 481px) and (max-width: 1024px){
	/* GENERAL */

	body{
		width:747px;
		margin: 0 auto;
	}

	/* HEADER */
	header{
		margin-bottom: 38px;
	}

	header img{
		margin-right: 146px;
	}

	header nav ul li a:active{
		border-top:2px solid #0065fc;
		color: #0065fc;
	}

	/* RECHERCHE */
	#recherche h1{
		font-size: 20px;
	}

	.button2 p:active{
		background: #0065fc;
		color: #fff;
	}

	.button2 p{
		font-size: 14px;
	}

	.btn i{
		display: none;
	}
	

	/* HEBERGEMENTS */
	#hebergements{
		height: 659px;
	}

	#hebergements h2{
		margin: 13px 0 0 17px;
		font-size: 19px;
	}

	#hebergements{
		width: 56%;
	}

	.container{
		justify-content: flex-start;
		margin-top: 28px;
		padding: 0;
	}

	#hebergements a{
		width: 43%;
		margin: 0 12px;
		margin-bottom: 16px;
	}

	#hebergements figure{
		width: 100%;
		margin: 0;
		height: auto;
	}

	#hebergements img{
		width: 180px;
	}

	.text{
		padding-left: 6px;
	}

	#populaires{
		width: 40%;
		margin-left: 20px;
	}

	#populaires h2{
		font-size: 19px;
		margin-bottom: 26px;
	}

	.part2{
		width: 100%;

	}

	.part2 figure{
		margin: 0 12px;
		height: 151px;
	}

	.part2 img{
		height: 151px;
		width: 116px;
	}

	.part2 figcaption{
		width: 138px;
		height: 144px;
		border-radius: 18px;
		padding-left: 126px;
	}
	.container2 a{
		margin-bottom: 26px;
	}

	.legend p{
		margin-bottom: 58px;
	}

	.part2 .etoile{
		font-size: 13px;
	}

	/* ACTIVITE */
	#activite{
		height: 513px;
	}
	.activ{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.activ a{
		height: 200px;
		margin-bottom: 31px;
	}

	.vieux{
		float: none;
		margin: 0;
		height: 200px;
	}

	.vieux img{
		width: 235px;
		height: 146px;
	}

	.column{
		flex-direction: row;
		width: 489px;
		margin-right: 5px;
	}

	.img1{
		margin: 0;
		margin-right: 24px;
	}

	.img1 img {
    	width: 235px;
    	height: 146px;
    }

    .img2 img{
    	width: 235px;
		height: 146px;
    }
	.column2{
		flex-direction: row;
	}

	.img3{
		margin-right: 24px;
	}

	.img3 img{
		width: 235px;
		height: 146px;
	}

	.img4 img{
		width: 235px;
		height: 146px;
	}

	/* FOOTER */
	footer div{
		right: 16px;
	}
}